<!doctype html>
<head>
    <title>Generate Poems</title>
    <style>
        p {white-space: pre-wrap;}
        form {display: inline;}
    </style>
</head>
<body>
    <h1>Generate Poems</h1>
    Poet:
    <form action="/">
        <select name="poet">
            {% for author in authors %}
                {% if author == poet %}
                    <option value="{{ author }}" selected>{{ author }}</option>
                {% else %}
                    <option value="{{ author }}">{{ author }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Generate">
    </form>
    {% if poem %}
        <p>{{ poem }}</p>
    {% endif %}
</body>
